
{% extends 'admin/admin_base.html' %}{% load static %}
{% block title %}{% endblock title %}
{% block content %}
{% comment %}
<div class="row">
    <h1 class="ui huge dividing header">Admin Dashboard</h1>
</div>
  
  <div class="center aligned row">
    <div class="eight wide mobile four wide tablet four wide computer column">
      <a href="">
        <img class="ui centered small circular image" src="{% static 'images/square-image.png' %}" />
        <div class="ui large basic label">Add Books &raquo;</div>
        <p>To Library</p>
      </a>
    </div>
    <div class="eight wide mobile four wide tablet four wide computer column">
      <a href="">
        <img class="ui centered small circular image" src="{% static 'images/square-image.png' %}" />
        <div class="ui large basic label">Update Books &raquo;</div>
        <p>Availability</p>
      </a>
    </div>
    <div class="eight wide mobile four wide tablet four wide computer column">
      <a href="">
        <img class="ui centered small circular image" src="{% static 'images/square-image.png' %}" />
        <div class="ui large basic label">Issue Book &raquo;</div>
        <p>New Book</p>
      </a>
    </div>
    <div class="eight wide mobile four wide tablet four wide computer column">
      <a href="">
        <img class="ui centered small circular image" src="{% static 'images/square-image.png' %}" />
        <div class="ui large basic label">View Students &raquo;</div>
        <p>All Registered</p>
      </a>
    </div>
  </div>
  {% endcomment %}
  
  <div class="ui hidden section divider"></div>
  <div class="row">
    <h1 class="ui huge dividing header">Registered Students</h1>
  </div>
  <div class="row">
    <table class="ui single line striped selectable unstackable table">
      <thead>
        <tr>
          <th>ID</th>
          <th>Username</th>
          <th>Email</th>
          <th>Roll No</th>
          <th>Last Login</th>
        </tr>
      </thead>
      <tbody>
        {% for std in students %}
        <tr>
          <td>{{std.user.id}}</td>
          <td>{{std.user.user_name}}</td>
          <td>{{std.user.email}}</td>
          <td>{{std.enrollment_no}}</td>
          <td>{{std.user.date_joined|date:"F d, Y"}}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>

  <div class="ui hidden section divider"></div>
  <div class="row">
    <a class="ui large primary button" href="{% url 'accounts:add_book' %}">Add Books</a>
    <br />
  </div>

  <div class="row">
    <h2 class="ui huge dividing header">Available Books</h2> 
  </div>
  <div class="row">
    <table class="ui single line striped selectable unstackable table">
      <thead>
        <tr>
          <th>Action</th>
          <th>Book Name</th>
          <th>Author</th>
          <th>Category</th>
          <th>Entry Date</th>
          <th>Updated</th>
        </tr>
      </thead>
      <tbody>
        {% for bk in books %}
        <tr>
          <td><div class="ui left floating icon item">
                <a href="{% url 'accounts:update_book_details' bk.id %}"><i class="edit icon"></i></a>
            </div>
            <div class="ui right floating icon item">
              <a href="{% url 'accounts:delete_book' bk.id %}" style="color: red;"><i class="trash icon"></i></a>
            </div>
          </td>
          <td><a href="{% url 'accounts:update_book_details' bk.id %}">{{bk.book_name}}</a></td>
          <td>{{bk.author}}</td>
          <td>{{bk.category}}</td>
          <td>{{bk.entry_date|date:"F d, Y"}}</td>
          <td>{{bk.last_login|date:"F d, Y"}}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock content %}

{% block customJS %}
{% endblock customJS %}